## Homework 3 Assignment 3
#### Nina Nurrahmawati - nn1221

Your notebook must display
1. the complete formulation of the hypothesis (Null and Alternative) to be tested in words and formula
2. the download of the data (which is in https://github.com/fedhere/PUI2017_fb55/blob/master/Lab3_fb55/times.txt, but you must get the raw data!)
3. the calculation of the z statistics (with the given formula and the data processed from the data file)
4. the comparison of the statistis with the significance threshold and the conclusions about the Null Hypothesis

Importing all necessary libraries

In [60]:
import numpy as np
import pandas as pd

### 1. the complete formulation of the hypothesis (Null and Alternative) to be tested in words and formula

#### Available data:
Old mean and standart deviation from Lab3 : 

$T_{old} \sim N(\mu=36,\sigma=6)$

#### Null Hypothesis:
H$_0$: The mean of the commute time with the new bus route is the same or higher than the old bus route

H$_0$ : T$_{new} \geq$ T$_{old}$

#### Alternative Hypothesis:
H$_1$: The mean of the commute time with the new bus route is lower than the old bus route

H$_1$: T$_{new}$ < T$_{old}$

### 2. the download of the data (which is in https://github.com/fedhere/PUI2017_fb55/blob/master/Lab3_fb55/times.txt, but you must get the raw data!)

In [61]:
data = "https://raw.githubusercontent.com/fedhere/PUI2017_fb55/master/Lab3_fb55/times.txt"
df = pd.read_csv(data, header=None, names = ['Times'])

In [62]:
df.head()

       Times
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

In [63]:
df.describe()

            Times
count  100.000000
mean    34.466162
std      7.137280
min     16.527267
25%     30.020542
50%     34.693057
75%     39.603456
max     48.749877

#### 3. the calculation of the z statistics (with the given formula and the data processed from the data file)

Create variable for data from Lab 3

In [64]:
tOldMean = 36. # old mean
tOldStdev = 6. # old standard deviation

Calculate new mean and new standard deviation

In [65]:
tNewMean = df.mean().Times
tNewStdev = df.std().Times
print ('New Mean : {:.2f}, \nNew Standard Deviation : {:.2f}'.format(tNewMean, tNewStdev))

New Mean : 34.47,
New Standard Deviation : 7.14

Calculate Z value

In [66]:
z = (tOldMean - tNewMean)/(tOldStdev/np.sqrt(len(df)))
print ("Z value = {:.3f}".format (z))

Z value = 2.556

#### 4. the comparison of the statistis with the significance threshold and the conclusions about the Null Hypothesis

Count the z value where p = 0.05 
[source](https://stackoverflow.com/questions/20864847/probability-to-z-score-and-vice-versa-in-python)

In [67]:
import scipy.stats as st
zcritical = st.norm.ppf(.95)
print ("Z value when p = 0.95 = {:.3f}".format(zcritical))

Z value when p = 0.95 = 1.645

Check whether H$_0$ is rejected or not

In [69]:
if z >= zcritical:
    print ("Null hypothesis is rejected")
else:
    print ("Null hypothesis is accepted")

Null hypothesis is rejected

Null hypothesis is rejected, therefore **new bus route has shorter commuting time**.